extends /layout

block content
	section#first.imagebg.brown.height-40(data-overlay="5")
		.background-image-holder
			img(src="/img/test.jpg")
		.container.pos-vertical-center
			.row.text-center
				.col-sm-12
					h1.color-blue Technical Advisory Group
					//-p.color-blue.
						Lorem ipsum dolor sit amet, consectetur adipisifwcing elit, sed do eiusmod tempor incididunt ut labore et dolore roipi magna aliqua. Ut enim ad minim veeniam, quis nostruklad exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in tufpoy voluptate velit esse cillum dolore eu fugiat nulla parieratur. Excepteur sint.

	section
		//-p= JSON.stringify(contentful.howToStep)
		.container
			.row
				.col-sm-12
					p.
						On this page, we want to identify an organizational chart of the Technical Advisory Committee which is members from each GSA, Schafer as Coordinator, De Groot as Secretary.  Also, on this page, discuss Objective of this group is to develop the Coordination Agreement Elements for the Tule Subbasin.  Currently working on (7) common elements of all GSAs in Subbasin and want to highlight these documents and elements on this tab.
