

$headerheight = 80px
// --- colors
$transblue  = rgba(2,132,168,0.5)
$blue       = rgba(38, 153, 251,1)
$bluet      = rgba(38, 153, 251,0.8)
$lightblue  = rgba(127, 196, 253,1)
$lightbluet = rgba(127, 196, 253,0.8)
$white      = #ffffff
$gray       = rgba(26, 27, 28,0.07)
$black      = #000

$transparencies = 0.5, 0.75

$violet = rgba(127, 22, 55, 1)
$teal = rgba(4, 120, 120, 1)
$yellow = rgba(255, 183, 51, 1)
$orange = rgba(245, 115, 54, 1)
$red = rgba(194, 33, 33, 1)
$green = rgba(81, 122, 30, 1)
$brown = rgba(104, 92, 79, 1)

$colors = {
	red: $red,
	violet: $violet,
	lightblue: $lightblue,
	blue: $blue,
	teal: $teal,
	green: $green,
	yellow: $yellow,
	orange: $orange,
	white: $white,
	black: $black,
	brown: $brown
}

for prop, val in $colors
	for t, i in $transparencies
		$colors[prop+'t'+i] = rgba(red(val),green(val),blue(val),t)


$font = #363636

.bg-gray
	background-color $gray
// --- fonts
h1,h2,h3,h4,h5,h6,p,input,textarea,label,li
	font-family "Open Sans", "arial"
h1
	letter-spacing 5px

// --- forms
// form
// 	input, textarea
// 		border none !important
// 		border-radius 0px !important
